# Environment Configuration
# .env

# Dependency directory
node_modules
.pnp
.pnp.js

# Test coverage directory
coverage

# Ignore Apple macOS Desktop Services Store
.DS_Store

# local env files
.env

# Logs
logs
*.log

# ngrok tunnel file
config/tunnel.pid

# next build output
.next/
out/

# production
build/

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# vercel
.vercel
